.example-spacer {
    flex: 1 1 auto;
}

.main-body {
    padding-top: 20px;
    margin: 0 auto;
    max-width: 1348px;
}

.main-body mat-form-field {
    width: 100%;
}

.action {
    display: flex;
    gap: 5px;
}
.sidebar {
  width: 200px; /* Set a fixed width for the sidebar */
  float: left; /* or use position: fixed; or any other positioning method */
}

.content {
  margin-left: 220px; /* Adjust margin to leave space for the sidebar */
}
